<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>RetroTech</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-growl-notifications/dist/angular-growl-notifications.min.js"></script>
    <script src="/main.js"></script>

    <!--custom scripts from outside template-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/templates/js/jquery-1.11.0.min.js"></script>
    <!--Bootstrap JS-->
    <script type='text/javascript' src="/templates/js/bootstrap.js"></script>
    <script type='text/javascript' src="/templates/js/bootstrap.min.js"></script>
    <!--theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <!--//fonts-->
    <script type="text/javascript" src="/templates/js/move-top.js"></script>
    <script type="text/javascript" src="/templates/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start menu -->
    <!--<script src="/templates/js/simpleCart.min.js"> </script>-->
    <script type="text/javascript" src="/templates/js/memenu.js"></script>
    <script defer src="/templates/js/jquery.flexslider.js"></script>

</head>

<body ng-app="RetroTech">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
