<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>RetroTech</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-growl-notifications/dist/angular-growl-notifications.min.js"></script>
    <script src="/main.js"></script>

    <!--custom scripts from outside template-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/templates/js/jquery-1.11.0.min.js"></script>
    <!--theme-style-->
    <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Free Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <!--<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <script type="text/javascript" src="/templates/js/move-top.js"></script>
    <script type="text/javascript" src="/templates/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start menu -->
    <script src="/templates/js/simpleCart.min.js"> </script>
    <!--<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />-->
    <script type="text/javascript" src="/templates/js/memenu.js"></script>
</head>

<body ng-app="RetroTech">
    <navbar></navbar>
    <div id="main" ui-view></div>
    <!--<script>$(document).ready(function(){$(".memenu").memenu();});</script>-->
</body>
</html>
