<div id="buttons-panel">
	<button ng-click="showOM = !showOM" class='btn btn-primary'> order management</button>
	<div ng-show="showOM" id="order-management">
		<!-- View a list of all orders -->
		<span>View all orders:</span> <button ng-click="viewAllOrders()">submit</button> 
		<br>

		<!-- Filter orders by status (Created, Processing, Cancelled, Completed) -->
		<span>Filter orders by Status:</span>

		<!-- Change the status of the order (Created -> Processing, Processing -> Cancelled || Completed) -->
		<span>Change status of a specific Order: </span>

		<!-- View details of a specific order -->
		<span>View details of a specific order</span>
	</div>

	<br>

	<button ng-click="showPM = !showPM" class='btn btn-primary'> product management</button>
	<div ng-show="showPM" id="product-management">
		<!-- Create and edit products with name, description, price and one or more photos -->
		<span>Create new product</span> 

		<!-- Create categories for items, each item can have multiple categories -->
		<!-- Manage the availability of a product. If a product is no longer available, users will not see it while browsing, but they can view the product detail page if they've ordered it previously or have a direct link. On that product detail page, it should say "Currently Unavailable" -->
		<!-- Add/remove categories from items -->
	</div>

	<br>

	<button ng-click="showUM = !showUM" class='btn btn-primary'> user management</button>
	<div ng-show="showUM" id="user-management">
		<!-- Promote other user accounts to have admin status -->
		<span>Set a user to admin: </span><input ng-model="emailOfUserToMakeAdmin" placeholder="email"> <button ng-click="setAdmin(emailOfUserToMakeAdmin)">submit</button> 
		<br>

		<!-- Delete a user -->
		<span>Delete a user: </span> <input ng-model="emailOfUserToDelete" placeholder="email"> <button ng-click="deleteUser(emailOfUserToDelete)">submit</button>
		<br>

		<!-- Trigger password reset for a user (next time they successfully log in—with their old password—they are prompted for a new one) -->
		<span>Trigger a password reset: </span><input ng-model="emailOfUserToResetPassword" placeholder="email"> <button ng-click="resetPassword(emailOfUserToResetPassword)">submit</button>
		<br>
	</div>

	<br>
</div>

<div id="view-all-orders">
	<div class="panel panel-default" ng-repeat="order in allOrders">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <button type="button" class="btn" data-toggle="collapse"
                            data-target="#{{order.id}}" id="orderButton">Order #{{order.id}} submitted on
                        {{order.createdAt | date: shortDate}}
                    </button>
                </h1>
            </div>
            <div class="panel-collapse collapse in" id="{{order.id}}">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="product in order.products">
                        <tr>
                            <td>{{product.title}}</td>
                            <td>{{product.quantityOrdered}}</td>
                            <td>${{product.price}}.00</td>
                        </tr>
                        </tbody>
                        <tr style="padding-right: 20px">
                            <th></th>
                            <th></th>
                            <th>Total: ${{order.total}}.00</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</div>