<div class="row" id="adminRow">

    <!--MANAGE ORDERS-->
    <div class="col-xs-6" id="orderColumn">
        <div ng-show="showOM" id="order-management">

            <!-- View a list of all orders -->
            <div class="col-xs-12" id="ordersTable">
                <h4 style="margin-bottom: 20px"><strong>Edit Orders</strong></h4>
                <div>
                        <span>Filter by status:
                            <select ng-model="setStatus" ng-options="status.type for status in orderStatuses"></select>
                            <a ng-click="clearOrderFilter()">Clear filter</a>
                        </span>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>Confirm</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="order in allOrders | orderBy: '-user.email' | filter:{status: setStatus.type}">
                        <tr>
                            <td><a data-toggle="collapse" ng-click="showSingleOrder(order.id)">{{order.id}}</a></td>
                            <td>{{order.user.email}}</td>
                            <td>{{order.createdAt | date: shortDate}}</td>
                            <td>{{order.status}}</td>
                            <td><select ng-init="status.changed=orderStatuses[0]" ng-model="status.changed" ng-options="status.type for status in orderStatuses">
                            </select></td>
                            <td><button type="button" class="btn btn-sm btn-success" ng-click="confirmStatus(order.id, status.changed)"><span class="glyphicon glyphicon-ok"></span></button></td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <!--INDIVIDUAL ORDERS-->
        <div ng-show="displayOrder">
            <div class="col-xs-12">
                <h3>Order Summary <button class="btn-sm" id="allOrdersBtn" ng-click="returnToAllOrders()">View all orders</button></h3>
                <br>
                <ul id="singleOrderList">
                    <li><strong>Status: </strong>{{order.status}}</li>
                    <li><strong>Date: </strong>{{order.createdAt | date: shortDate}}</li>
                    <li><strong>User: </strong>{{order.user.email}}</li>
                </ul>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="product in order.products">
                    <tr>
                        <td>{{product.title}}</td>
                        <td>{{product.quantityOrdered}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                    </tbody>
                    <tr style="padding-right: 20px">
                        <th></th>
                        <th></th>
                        <th>Total: ${{order.total}}.00</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    Manage Products
                </uib-tab-heading>

                <!--Show ALL PRODUCTS-->
                <div ng-show="!showProduct">
                    <h4>Edit Products</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Availability</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="product in products">
                            <tr>
                                <td><img id="adminProdImg" src="{{product.imageUrl}}"></td>
                                <td>{{product.title}}</td>
                                <td>{{product.availability}}</td>
                                <td><a ng-click="showSingleProduct(product)">Change product</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--SHOW SINGLE PRODUCT-->
                <div ng-show="showProduct">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Edit Photo</th>
                            <th>Edit Name</th>
                            <th>Edit Availability </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </uib-tab>

            <uib-tab index="1">
                <uib-tab-heading>
                    Manage Users
                </uib-tab-heading>

            </uib-tab>
        </uib-tabset>
    </div>
    <!--&lt;!&ndash;MANAGE PRODUCTS&ndash;&gt;-->
    <!--<div class="col-xs-3">-->
        <!--<div class="text-center">-->
            <!--<button ng-click="showPM = !showPM" class='btn btn-primary'>Manage Products</button>-->
        <!--</div>-->
        <!--<div ng-show="showPM" id="product-management">-->
            <!--&lt;!&ndash; Create and edit products with name, description, price and one or more photos &ndash;&gt;-->
            <!--<span>Create new product</span>-->
            <!--<a ui-sref="admin.products">Click me!</a>-->
            <!--<div ui-view></div>-->
            <!--&lt;!&ndash; Create categories for items, each item can have multiple categories &ndash;&gt;-->
            <!--&lt;!&ndash; Manage the availability of a product. If a product is no longer available, users will not see it while browsing, but they can view the product detail page if they've ordered it previously or have a direct link. On that product detail page, it should say "Currently Unavailable" &ndash;&gt;-->
            <!--&lt;!&ndash; Add/remove categories from items &ndash;&gt;-->
        <!--</div>-->

        <!--<br>-->
    <!--</div>-->

    <!--<div class="col-xs-3">-->
        <!--<div class="text-center">-->
            <!--<button ng-click="showUM = !showUM" class='btn btn-primary'> user management</button>-->
        <!--</div>-->
        <!--<div ng-show="showUM" id="user-management">-->
            <!--&lt;!&ndash; Promote other user accounts to have admin status &ndash;&gt;-->
            <!--<span>Set a user to admin: </span><input ng-model="emailOfUserToMakeAdmin" placeholder="email">-->
            <!--<button class="btn btn-sm" ng-click="setAdmin(emailOfUserToMakeAdmin)">submit</button>-->
            <!--<br>-->

            <!--&lt;!&ndash; Delete a user &ndash;&gt;-->
            <!--<span>Delete a user: </span> <input ng-model="emailOfUserToDelete" placeholder="email">-->
            <!--<button class="btn btn-sm" ng-click="deleteUser(emailOfUserToDelete)">submit</button>-->
            <!--<br>-->

            <!--&lt;!&ndash; Trigger password reset for a user (next time they successfully log in—with their old password—they are prompted for a new one) &ndash;&gt;-->
            <!--<span>Trigger a password reset: </span><input ng-model="emailOfUserToResetPassword" placeholder="email">-->
            <!--<button class="btn btn-sm" ng-click="resetPassword(emailOfUserToResetPassword)">submit</button>-->
            <!--<br>-->
        <!--</div>-->
    <!--</div>-->
</div>

