<div class="row" id="adminRow">
        <div class="col-xs-6" id="orderColumn">
            <button ng-click="viewAllOrders()" class='btn btn-primary'> order management</button>
            <div ng-show="showOM" id="order-management">

                <!-- View a list of all orders -->
                <div class="col-xs-8">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Date</th>
                                <th>User</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="order in allOrders">
                            <tr>
                                <td><a data-toggle="collapse" ng-click="showSingleOrder(order.id)">{{order.id}}</a></td>
                                <td>{{order.createdAt | date: shortDate}}</td>
                                <td>{{order.user.email}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-4">
                    <!-- Filter orders by status (Created, Processing, Cancelled, Completed) -->
                    <span>Filter orders by Status:</span>
                </div>

            </div>
            <div ng-show="displayOrder">
                <div class="col-xs-12">
                    <h3>Order Summary</h3>
                    <ul>
                        <li>Status: {{order.status}}</li>
                        <li>Date: {{order.createdAt | date: shortDate}}</li>
                        <li>User: {{order.user.email}}</li>
                    </ul>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="product in order.products">
                        <tr>
                            <td>{{product.title}}</td>
                            <td>{{product.quantityOrdered}}</td>
                            <td>{{product.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <button ng-click="showPM = !showPM" class='btn btn-primary'> product management</button>
            <div ng-show="showPM" id="product-management">
                <!-- Create and edit products with name, description, price and one or more photos -->
                <span>Create new product</span>

                <!-- Create categories for items, each item can have multiple categories -->
                <!-- Manage the availability of a product. If a product is no longer available, users will not see it while browsing, but they can view the product detail page if they've ordered it previously or have a direct link. On that product detail page, it should say "Currently Unavailable" -->
                <!-- Add/remove categories from items -->
            </div>

            <br>
        </div>

        <div class="col-xs-3">
            <button ng-click="showUM = !showUM" class='btn btn-primary'> user management</button>
            <div ng-show="showUM" id="user-management">
                <!-- Promote other user accounts to have admin status -->
                <span>Set a user to admin: </span><input ng-model="emailOfUserToMakeAdmin" placeholder="email"> <button ng-click="setAdmin(emailOfUserToMakeAdmin)">submit</button>
                <br>

                <!-- Delete a user -->
                <span>Delete a user: </span> <input ng-model="emailOfUserToDelete" placeholder="email"> <button ng-click="deleteUser(emailOfUserToDelete)">submit</button>
                <br>

                <!-- Trigger password reset for a user (next time they successfully log in—with their old password—they are prompted for a new one) -->
                <span>Trigger a password reset: </span><input ng-model="emailOfUserToResetPassword" placeholder="email"> <button ng-click="resetPassword(emailOfUserToResetPassword)">submit</button>
                <br>
            </div>
        </div>
</div>
