#buttons-panel{
	width: 50%
}

#adminRow {
  padding-top: 30px;
}

#orderColumn {
  border-right: 2px solid;
}

#viewOrdersBtn {
  margin-top: 10px;
}

#ordersTable {
  padding-top: 20px;
}
<<<<<<< HEAD
=======

#allOrdersBtn {
  background: #5375ae;
  color: white;
  &:hover {
    background: #181b2a;
  }
}

#singleOrderList {
  list-style-type: none;
  padding-left: 0px;
}




>>>>>>> master
