<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home"> Home </a></li>
            <li ng-repeat="metaCat in metaCategories" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                <a ui-sref-active="active">{{ metaCat }}</a>
                <ul class="dropdown" ng-show="hovering" ng-init="selectedCats = subCats(metaCat)">
                    <li ng-repeat="category in selectedCats">
                        <a ui-sref="category({name:category.name})">{{ category.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--         <div>
        Categories: {{categories}}
        </div>
        <div>
        Meta: {{metaCategories}}
        </div> -->
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
