<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                <a ui-sref-active="active">{{ item.label }}</a>
                <ul  class="dropdown" ng-show="hovering">
                    <li ng-repeat="category in categories">
                        <a ui-sref-active="active" ui-sref="{{ category.state }}">{{ category.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
<!--         <div>
        Categories: {{categories}}
        </div>
        <div>
        Meta: {{metaCategories}}
        </div> -->
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>