<!--top-header-->
<div class="top-header">
    <div class="container">
        <div class="top-header-main">
            <div class="col-md-4 top-header-left">
            <div class="input-group">
                    <p>{{typeaheadObject.query}}</p>
                    <input placeholder="Find product..." type="text" typeahead-on-select="select($item, $model, $label, $event)" value="Search" ng-model="selectedProduct" uib-typeahead="product for product in products | filter:$viewValue" class="search-bar">
<!--                     <input ng-click="switch(foundProduct)" type="submit" value=""> -->
                    <button ng-click="switch(foundProduct)" class="btn search-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                <br>
                <div ng-show="isAdmin">
                    <button ui-sref="admin">Admin Panel</button>
                </div>
            </div>
            <div class="col-md-4 top-header-middle">
                <a href="index.html"><img src="/js/common/directives/fullstack-logo/retrotech-logo-small.png" style="width: 70%"/></a>
            </div>
            <div class="col-md-4 top-header-right">
                <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>

                <button id="signup-button" ng-hide="isLoggedIn()" ui-sref="signup" class="btn signup-button">Signup</button>
                <div ng-show="user" class="welcome">
  <!--                   <span>Welcome, {{ user.email }}!</span> -->
                    <button ui-sref="account" class="btn account-button">My Account</button>

                    <button ng-show="user" ng-click="logout()" class="btn logout-button">Logout</button>
                </div>
                <div class="cart box_1">
                    <a ui-sref="cart">
                        <div class="total" >({{cartQuantity}} items) <span class="glyphicon glyphicon-shopping-cart"></span></div>
                            
                    </a>
<!--                     <p><a ng-click='resetCart()' class="simpleCart_empty">Empty Cart</a></p> -->
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--top-header-->

<!--bottom-header-->
<div class="header-bottom">
    <div class="container">
        <div class="top-nav">
            <ul class="memenu skyblue" >
                <li class="active"><a ui-sref="home"> Home </a></li>
                <li class="grid" ng-repeat="metaCat in metaCategories" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                    <a ui-sref-active="active">{{ metaCat }}</a>
                    <div ng-show="hovering" class="mepanel" style="display:block" >
                        <div class="row">
                            <div class="col1 me-one">
                                <ul ng-init="selectedCats = subCats(metaCat)">
                                    <li ng-repeat="category in selectedCats">
                                        <a ui-sref="category({name:category.name})">{{ category.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

