<div>
<center><strong>SIGNUP</strong></center>
	<form id="signup-form" name="signup-form" ng-submit="submitFunc()">
		<div class="form-group">
			<input id="signup-email" ng-model="newUser.email" type="text" class="form-control" value="Email Address" placeholder="Email Address">
		</div>
		<!-- username: <input id="signup-username"> -->
		<br>
		<div class="form-group"> 
			<input id="signup-password" ng-model="newUser.password" class="form-control" type="password" placeholder="Password">
		</div>
		<br>
		<input type="submit" value="Sign Up" class="btn btn-danger">
	</form>

</div>