<!--FROM TEMPLATE-->

<div class="single-main">
    <div class="col-md-12 single-main-left">
        <div class="sngl-top">
        <div class="col-md-2 single-top-left" style="margin-top: 5%">
        </div>
            <div class="col-md-4 single-top-left" style="margin-top: 5%">
                <img class="p-one img-responsive" src="{{product.imageUrl}}"/>
            </div>
        </div>
        <div class="col-md-4 single-top-right" style="margin-top: 5%">
            <div class="details-left-info simpleCart_shelfItem">
                <h3>{{ product.title }}</h3>
                <p class="availability">Availability: <span class="color">{{product.availability}}</span></p>
                <div class="price_single">
                    <span class="item_price">${{product.price}}.00</span>
                </div>
                <h2 class="quick">Item Description:</h2>
                <p class="quick_desc">{{product.description}}</p>
                <h2 class="quick">Specs:</h2>
                <p class="quick_desc capitalize spec_list_item" ng-repeat="(key, value) in specs">{{key}}: {{value}}</p>
                <h2 class="quick" ng-show="product.creationDate">Created: <span>{{product.creationDate}}</span></h2>
                <div class="quantity_box">
                    <ul class="product-qty">
                        <span>Quantity:
                            <strong>{{quantity}}</strong>
                        </span>
                        <button style="height: 30px" type="button" class="btn btn-default btn-sm" ng-click="increment()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button style="height: 30px" type="button" class="btn btn-default btn-sm" ng-click="decrement()">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="single-but item_add">
                    <input type="submit" ng-disabled="isAvailable==false" ng-click="editProductNum(product)" value="add to cart"/>
                </div>
                <div id="prodSuccessMsg" class="alert alert-success" ng-show="cartSuccess">
                    Product successfully added to cart!
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

<!-- REVIEWS -->
        <div class="col-md-12 reviews" ng-show="user">
            <h4 class="review-title">Write a review of {{product.title}}</h4>
            <form id="write-review" name="writeReview" ng-submit="addReview()">
                <div class="form-group review-form">
                    <label for="stars">How many stars would you give this product?</label>
                    <select name="stars" ng-model="review.stars" ng-options="number as number for number in ['1','2','3','4','5']" ng-init="review.stars='1'">
                    </select>
                </div>
                <div class="form-group review-form">
                    <textarea ng-model="review.content" name="content" class="form-control" id="content" placeholder="Write your review here"></textarea>
                </div>
                <button type="submit" value="Submit" class="btn btn-default">Submit Review</button>
            </form>
        </div>
        <div class="col-md-12 reviews" ng-show="product.reviews.length">
        <h4 class="review-title">See what other customers are saying about {{product.title}}...</h4>
            <div ng-repeat="review in product.reviews | orderBy:'$index':true" class="product-review">
                <p>Anonymous | {{review.date | date:shortDate}}</p>
                    <span class="glyphicon glyphicon-star" ng-repeat="star in review.stars"></span>
                <p class="quick_desc">{{review.content}}</p>
            </div>
        </div>
    </div>
<!--     END REVIEWS -->

</div>
<div class="clearfix"></div>
<div class="container slider text-center" >
    <h4>Similar Products You Might Like</h4>
        <img id="sliderImg" ng-repeat="product in similarProducts" class="slide" ng-src="{{product.imageUrl}}" <a ui-sref="product({id: product.id})"></a>
</div>
<div ng-show="product.error">
    <h1 class="unfound">{{product.data}}</h1>
    <img src="http://www.noviquitaeten.de/images/steamdriven_sewing_machine.x1600.jpg"/>
</div>
</div>

