<!--From template-->
<div class="product" style="padding-top: 0px">
    <h1>
    This is a category page for {{category}}
    </h1>
    <div class="container">
        <div class="product-main" ng-repeat="item in items">
                <div class="product-one">
                    <category-page-item item="item">
                    </category-page-item>
                </div>
        </div>

    </div>
</div>


<!--OLD TEMPLATE-->
<!--<section id="category-page">-->
<!--<h1>-->
<!--This is a category page for {{category}}-->
<!--</h1>-->
<!--<div ng-repeat="item in items">-->
<!--<category-page-item item="item">-->
<!--</category-page-item>-->
<!--</div>-->
<!--</section>-->
