#checkout-form {
  width: 70%;
  margin-top: 30px;
}

#checkoutCart {
  margin-top: 30px;
  padding-left: 30px;
}

#firstName {
  display: inline-block;
  width: 40%;
}

#lastName {
  display: inline-block;
  width: 40%;
}

#firstNameLabel {
  padding-right: 105px;
}

#checkoutTotal {
  padding-right: 70px;
  font-weight: bold;
}
