* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  margin: 0 auto;
}

@import 'admin/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'checkout/main';
@import 'order/main';
@import 'account/main';
@import 'product/main';
@import '../templates/css/bootstrap.css';
@import '../templates/css/flexslider.css';
@import '../templates/css/memenu.css';
@import '../templates/css/style.css';


